doctype html
meta(charset='utf-8')
html(ng-app="app")
    head
        title Brizi mobile appliction
        include includes/head
    body
        .app-controller
            .navbar
                img(src='./assets/brizi_icon.png')
                h1 Brizi
                .routes(ng-controller='RouteController')
                    a(ng-click='route($event)' id='gallery', class='active') Gallery
                    a(ng-click='route($event)' id='twitter') Twitter
            div(class='main' ng-view)
        include includes/foot