@font-face
	font-family harabara
	src url(Harabara.ttf)
body
	background-color rgba(221, 249, 255, 1)
h1, a
	font-family harabara
.navbar
	position fixed
	padding-top 10px
	width 100%
	height 100px
	top 0
	background-color orange
	display inline-block
	text-align center
	img
		height 100%
		margin-top -25px
	h1
		display inline
		font-size 400%
.routes
	margin-top 10px
	height 100px
	width 100%		
	display inline-block
	a
		font-size 300%
		padding 10px
		height 100%
		text-align center
		border 2px solid lightBlue
		width 50%
		background-color rgba(255, 255, 255, 0.8)
		border-radius 5px
		vertical-align center
		cursor pointer
	a#gallery
		float left
	a#twitter
		float right
	.active
		background-color rgba(255, 217, 51, 1)

.main
	text-align center	
	min-height 100%
	margin-top 210px
	h1
		border-bottom 1px solid lightBlue

.gallery	
	img
		width 80%
	span
		display block
		margin-top -150px
		padding-bottom 100px
		a			
			background-color rgba(255, 255, 255, 0)
			padding 5%
			width 150px
			img
				padding 2%
				width inherit
				height inherit

#twitter-widget-0
	min-width 99% !important